@import "w3";
@import "w3-theme";

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  background-color: #f7faf8;
  color: #3d5245;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

div.MyPageHeader {
  @extend .w3-container;
  width: 100%;
  background-color: #f7faf8;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
h1.MyPageHeader {
  color: #3d5245;
  background-color: transparent !important;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: lowercase;
  border-bottom: 1px solid #c0dac9;
  padding-bottom: 0.5rem;
  @media screen and (max-width: 300px) {
    font-size: larger;
  }
  @media screen and (max-width: 420px) and (min-width: 300px) {
    font-size: x-large;
  }
}

div.PageBanner {
  height: 80px;
  width: 100%;
  position: relative;
  background-color: #f7faf8;
}
div.PagePoweredBy {
  @extend .w3-container;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  opacity: 0.6;
  font-size: 0.85em;
  color: #6b9179;
}

div.PagePoweredBy span {
  vertical-align: bottom;
}

div.PagePoweredBy img {
  height: 24px;
  opacity: 0.7;
  filter: grayscale(30%);
  transition: opacity 0.3s ease, filter 0.3s ease;
}

div.PagePoweredBy img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

div.PagePoweredBy a {
  margin-left: 0.5rem;
}

.DataSource, .WebCounter {
  font-size: 0.8em;
  color: #7da08a;
}

.DataSource a, .WebCounter a {
  color: #5a8268;
  text-decoration: none;
  border-bottom: 1px dotted #7da08a;
  transition: border-color 0.3s ease;
}

.DataSource a:hover, .WebCounter a:hover {
  border-bottom-color: #3d5245;
}

