@import "w3";
@import "w3-theme";

div.MyMenu {
  @extend .w3-container;
}
div.MyMenuHeaders {
  @extend .w3-container;
  @extend .w3-theme-d3;
}
button.MyMenuHeader {
  @extend .w3-bar-item;
  @extend .w3-button;
}
button.MyMenuHeader[data-current-tab="Y"] {
  @extend .w3-theme;
}

div.MyMenuBody {
  @extend .w3-container;
  margin: 0px;
}
div.MyMenuGroup {
  transition: 0.3s;
  display: inline-block;
  vertical-align: top;
  padding: 4px;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  @media screen and (max-width: 864px) and (min-width: 576px) {
    width: 50%;
  }
  @media screen and (max-width: 1152px) and (min-width: 864px) {
    width: 33%;
  }
  @media screen and (max-width: 1440px) and (min-width: 1152px) {
    width: 25%;
  }
  @media screen and (min-width: 1440px) {
    width: 20%;
  }
}
div.MyMenuGroupCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h2.MyMenuGroupHeader {
  @extend .w3-bar;
  @extend .w3-theme;
}
div.MyMenuNav {
  @extend .w3-bar;
  @media screen and (min-width: 864px) {
    display: block;
  }
}
div.MyMenuNav[data-display-nav="Y"] {
  @media screen and (max-width: 864px) {
    display: block;
  }
}
div.MyMenuNav[data-display-nav="N"] {
  @media screen and (max-width: 864px) {
    display: none;
  }
}
div.MyMenuResponsiveNav {
  @media screen and (max-width: 864px) {
    display: block;
  }
  @media screen and (min-width: 864px) {
    display: none;
  }
}
span.MyMenuTitle {
  @extend .w3-bar-item;
  @extend .w3-btn;
}
span.MyMenuTitle:hover {
  box-shadow: none;
  cursor: default;
}

.MyMenuBars {
  @extend .w3-bar-item;
  @extend .w3-btn;
  float: right;
  cursor: pointer;
}
